pythonLessons/Advanced programming/Ülesanne 10 - Lambda/HoundOfTheBaskervilles.txt
pythonLessons/Advanced programming/Ülesanne 10 - Lambda/Ülesanne 9 - Lambda.py
pythonLessons/Advanced programming/Ülesanne 11 - RegEx/Ülesanne 11 - RegEx.py
pythonLessons/Advanced programming/Ülesanne 12 - Image Processing/result.png
pythonLessons/Advanced programming/Ülesanne 12 - Image Processing/The Hound of the Baskervilles.txt
pythonLessons/Advanced programming/Ülesanne 12 - Image Processing/Ül 12 - Image processing.py
pythonLessons/Advanced programming/Ülesanne 13 - Image Processing 2/julia1.png
pythonLessons/Advanced programming/Ülesanne 13 - Image Processing 2/julia2.png
pythonLessons/Advanced programming/Ülesanne 13 - Image Processing 2/julia3.png
pythonLessons/Advanced programming/Ülesanne 13 - Image Processing 2/julia4.png
pythonLessons/Advanced programming/Ülesanne 13 - Image Processing 2/Mandelbrot.png
pythonLessons/Advanced programming/Ülesanne 13 - Image Processing 2/Ülesanne 14 - Image Processing 2.py
pythonLessons/Advanced programming/Ülesanne 14 - Sympy/Ülesanne 14 - Sympy.py
pythonLessons/Advanced programming/Ülesanne 15 - Matplotlib/RV030sm.csv
pythonLessons/Advanced programming/Ülesanne 15 - Matplotlib/Ülesanne 15 - Matplotlib.py
pythonLessons/Advanced programming/Ülesanne 16 - Otsing/Tund16gen.py
pythonLessons/Advanced programming/Ülesanne 16 - Otsing/Ülesanne 16 - Otsing.py
pythonLessons/Advanced programming/Ülesanne 17 - Graafid/Ülesanne 17 - Graafid.py
pythonLessons/Advanced programming/Ülesanne 18 - Laiuti otsing/Ülesanne 18 - Laiuti otsing.py
pythonLessons/Advanced programming/Ülesanne 19 - Sügavuti otsing/Ülesanne 19 - Sügavuti otsing.py
pythonLessons/Advanced programming/Ülesanne 20 - BST/bst.py
pythonLessons/Advanced programming/Ülesanne 20 - BST/hound.txt
pythonLessons/Advanced programming/Ülesanne 20 - BST/result.txt
pythonLessons/Advanced programming/Ülesanne 20 - BST/Ülesanne 20 - Binary Trees.py
pythonLessons/Advanced programming/Ülesanne 5 - Failid/A Study in Scarlet.txt
pythonLessons/Advanced programming/Ülesanne 5 - Failid/The Hound of the Baskervilles.txt
pythonLessons/Advanced programming/Ülesanne 5 - Failid/unique_words.py
pythonLessons/Advanced programming/Ülesanne 5 - Failid/Ülesanne 5 - Unikaalsed sõnad.py
pythonLessons/Advanced programming/Ülesanne 6 - Moodulid ja erindid/ex6_output.txt
pythonLessons/Advanced programming/Ülesanne 6 - Moodulid ja erindid/text_processing.py
pythonLessons/Advanced programming/Ülesanne 6 - Moodulid ja erindid/The Hound of the Baskervilles.txt
pythonLessons/Advanced programming/Ülesanne 6 - Moodulid ja erindid/Ülesanne 6 - moodulid.py
pythonLessons/Advanced programming/Ülesanne 7 - OOP/robot.py
pythonLessons/Advanced programming/Ülesanne 7 - OOP/simulator.py
pythonLessons/Advanced programming/Ülesanne 7 - OOP/Ülesanne 7 - OOP.py
pythonLessons/Advanced programming/Ülesanne 8 -Testimine/Roman_numerals.py
pythonLessons/Advanced programming/Ülesanne 8 -Testimine/Roman_numerals.pyc
pythonLessons/Advanced programming/Ülesanne 8 -Testimine/Ülesanne 8 - testimine.py
pythonLessons/Advanced programming/Ülesanne 9 - Simuleerimine/Ülesanne 9 - Simuleerimine.py
